.btn-alert {
    padding: 22px;
    background-color: brown;
    border-radius: 10px;
}

.btn-kleur{
    padding: 22px;
    background-color: brown;
    border-radius: 10px;
}

.blue-background {
    background-color: blue;
    }

.red-background {
background-color: red;
}